@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --foreground-dim-rgb: #333;
  --background-start-rgb: #f5f5f5;
  --background-end-rgb: #fff;
  /* lock on colours */
  --colour-primary: #005807;
  --colour-white: #fff;
  --colour-gray: #DBDBDB;
  --colour-black: #000;

  --gutter: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-dim-rgb: 204, 204, 204;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 100%;
}

body {
  color: rgb(var(--foreground-dim-rgb));
  font-family: var(--font-montserrat);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3 {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-noto-serif);
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 1280px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .colour-bg {
    position: relative;
  }
  .colour-bg:before {
    content: '';
    width: 100vw;
    height: 100%;
    margin-left: -50VW;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
  }
}
